* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

/* -------------------- HEADER -------------------- */
.nav1 {
  background-color: black;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.navbar {
  display: flex;
  gap: 2rem;
}



.navbar a {
  color: white;
}

.nav2 {
  background-color: white;
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.navbars {
  display: flex;
  gap: 2rem;
  padding: 15px;
}

.navbars a {
  color: black;
  font-size: 20px;
}

.eden {
  font-size: 2rem;
  color: black;
}

.edens {
  margin-left: -70rem;
  padding: 10px;
  width: 2rem;
  color: black;
}

/* -------------------- MAIN -------------------- */
main {
  background-color: rgb(227, 225, 225);
}
/* ---------------------- Section 1 ---------------------- */
.list {
  padding: 10px 20px;
  display: flex;
  gap: 2rem;
}

.list a {
  color: rgb(41, 38, 38);
}

/*---------------------- Section 2 ---------------------- */
.Meilleur {
  padding: 10px 20px;
  background: url(assets/images/back.jpeg);
  background-repeat: no-repeat;
  background-position: right;
}

.Meilleurs {
  margin-left: 14rem;
  padding-top: 4rem;
}
span {
  background-color: red;
  display: inline-block;
  width: 5rem;
  padding: 5px;
  color: white;
}

.ore {
  font-size: clamp(25px, 5vw, 60px);
}

.Meilleurs p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: clamp(5px, 2vw, 20px);
}

.acheter {
  background-color: #600ffe;
  display: inline-block;
  width: 10rem;
  height: 2.5rem;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.acheter:hover {
  background-color: black;
}

/*---------------------- Section 3 ----------------------*/
.offre {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  line-height: 35px;
  padding-bottom: 2rem;
}

.offres {
  background: url(assets/images/backgrounds.avif);
  background-repeat: no-repeat;
  padding: 2rem;
  height: 25rem;
  color: white;
}

.offres p {
  font-size: clamp(5px, 2vw, 25px);
  padding-bottom: 1rem;
}

.offres h3 {
  font-size: clamp(15px, 2vw, 35px);
}

.offres a {
  background-color: white;
  display: inline-block;
  width: 8rem;
  height: 2rem;
  padding: -4px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.offres a:hover {
  background-color: #e12317;
  color: white;
  border: 1px solid white;
}

.offres1 {
  background: url(assets/images/backgroundss.avif);
  background-repeat: no-repeat;
  padding: 2rem;
  color: white;
}

.offres1 p {
  font-size: clamp(5px, 2vw, 25px);
  padding-bottom: 1rem;
}

.offres1 h3 {
  font-size: clamp(15px, 2vw, 35px);
}

.offres1 a {
  background-color: white;
  display: inline-block;
  width: 8rem;
  height: 2rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.offres1 a:hover {
  background-color: #6f0fff69;
  border: 1px solid white;
  color: white;
}

/*------------------------ Section 4 ------------------------*/
.liv {
  padding: 10px 20px;
  margin-bottom: 1rem;
}
.livraison {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.livraison h3 {
  font-size: 2rem;
}

/*------------------------ Section 5 ------------------------*/
.principale {
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.princip {
  background-color: white;
  padding: 10px 20px;
}

.princips {
  display: flex;
}

.ventes {
  text-align: center;
  padding-top: 2rem;
}

.pre {
  border: 1px solid whitesmoke;
  width: 18rem;
  height: 23rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.images {
  width: 70%;
  margin-left: 2rem;
}

.images:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.meil {
  padding: 15px;
  font-size: 16px;
}

.prix {
  color: #600ffe;
  font-size: 1.5rem;
  padding: 15px;
  margin-top: -1rem;
}

.imagess {
  width: 40%;
  margin-left: 6rem;
}

.imagess:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.imagesss {
  width: 50%;
  margin-left: 5rem;
}

.imagesss:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.meils {
  padding: 15px;
  font-size: 16px;
  margin-top: -2rem;
}

.images1 {
  width: 70%;
  margin-left: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.images1:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.achet {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.achetes {
  background-color: #600ffe;
  color: white;
  display: inline-block;
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  padding: 10px;
}

.achetes:hover {
  background-color: black;
  color: white;
}

/*------------------------ Section 6 ------------------------*/
.voir {
  padding: 10px 20px;
  padding-bottom: 1rem;
}

.voirs {
  background-color: white;
}

.voirs h1 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.galerie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10rem;
  padding: 15px;
}

.galeries {
  border-radius: 100%;
  width: 50%;
}

.galeries:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.galeri h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*------------------------ Section 7 ------------------------*/
.economie {
  padding: 10px 20px;
  margin-bottom: 1rem;
}
.promo {
  background-color: white;
  height: 23rem;
}

.promos {
  width: 60%;
  float: left;
}

.pri {
  background-color: red;
  width: 5%;
  padding: 10px;
  border-radius: 150rem;
  text-align: center;
}

strong {
  font-size: 5rem;
}

.jusq {
  padding: 3rem;
  padding: auto;
  text-align: center;
}

.jusq p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.jusque {
  text-align: center;
}

.jusque a {
  background-color: #600ffe;
  display: inline-block;
  width: 10rem;
  height: 2.5rem;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.jusque a:hover {
  background-color: white;
  color: black;
}

/*------------------------ Section 8 ------------------------*/
.gals {
  padding: 10px 20px;
}

.gal {
  background-color: white;
}
.gal h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.gale {
  padding: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.galp {
  padding: 15px;
}

.galse {
  border: 1px solid whitesmoke;
}

.gales {
  width: 70%;
  display: flex;
  margin-left: 3rem;
}

.gales:hover {
  transform: scale(1.02) rotate(0.02deg);
}

.tout {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.tout a {
  background-color: #600ffe;
  display: inline-block;
  width: 10rem;
  padding: 10px;
  color: white;
  text-align: center;
  height: 2.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.tout a:hover {
  background-color: black;
}

/*------------------------ Section 9 ------------------------*/
.droness {
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.drones {
  background-color: white;
  height: 26.8rem;
}

.drone {
  width: 70%;
  float: right;
}

.ortho {
  padding: 35px;
  line-height: 40px;
}

.pas {
  background-color: #e12317;
  color: white;
  display: inline-block;
  width: 7rem;
  height: 2rem;
}

.ortho h1 {
  padding-bottom: 1rem;
}

strong {
  color: #600ffe;
  font-size: 3rem;
}

.ortho p {
  padding-bottom: 1rem;
}

.ortho a {
  background-color: #600ffe;
  color: white;
  display: inline-block;
  width: 10rem;
  text-align: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ortho a:hover {
  background-color: black;
}

/*------------------------ Section 10 ------------------------*/
.mark {
  padding: 10px 20px;
  margin-bottom: 2rem;
}

.mark h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.marq {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.marqs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.marque {
  border: 1px solid whitesmoke;
  width: 20rem;
}

/*------------------------ Section 11 ------------------------*/
.new {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 2rem;
}

.news {
  background-color: #600ffe;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.letters {
  text-align: center;
}

.mail {
  text-align: center;
}

.mails {
  margin-left: -35rem;
}

input {
  width: 35rem;
  height: 3rem;
  padding: 20px;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
}

.btn {
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 18px;
  width: 10rem;
  height: 3.1rem;
  border: none;
  border-radius: 25px;
  margin-left: -2.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #9871e7;
  color: black;
}

/*------------------------ Section 12 ------------------------*/
.aide {
  padding: 10px 20px;
  color: white;
  /* border-block-start: 1rem; */
}

.aides {
  background-color: black;
  height: 27.8rem;
}

.aides img {
  float: right;
}
.besoin {
  line-height: 35px;
  margin-left: 15rem;
  padding-top: 8rem;
}

.besoin p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.besoin a {
  background-color: #600ffe;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  width: 10rem;
  height: 3.1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.besoin a:hover {
  background-color: white;
  color: black;
}

/*------------------------ footer ------------------------*/
footer {
  padding: 10px 20px;
}

.container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  margin-top: 3rem;
}

.adres {
  padding-top: 4rem;
  padding-bottom: 10rem;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.acheters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  font-size: 25px;
}

.acheters a {
  color: black;
}

.nous {
  margin-top: 1rem;
  text-align: center;
}

.nous p {
  font-size: 20px;
}

.logo img {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 3%;
  margin: 2rem;
}

/*------------------------ Responsive ------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1023) {
}

@media (max-width: 1024);{
  
}


/*------------------------ VOIR.HTML c'est une parti de la site qui est dans tous le button voir------------------------*/
.tousse {
  background-color: white;
  padding: 10px 20px;
}

.tous {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.contenaire {
  display: flex;
  justify-content: space-between;
}

select {
  width: 10rem;
  height: 3rem;
  padding: 5px;
  font-size: 16px;
  border: 2px solid ;
}

option {
  background-color: white;
}

.galeris {
  padding-top: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  width: 95rem;
  margin-left: 21.5rem;
  margin-top: -.4rem;
}

.galres{
  border: 1px solid rgb(223, 217, 217);
}

.galess {
  width: 70%;
  display: flex;
  margin-left: 3rem;
}

.galess:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.proms p {
  padding: 15px;
}

.plus {
  margin-left: 60rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.plus a {
  background-color: #600ffe;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 25px;
}

/* ---------------------------- CENTRE.HTML ---------------------------- */
.conts {
  padding: 10px 20px;
}

.cont {
  background-color: white;
  padding-bottom: 4rem;
}

.cont h1 {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

}

.cont hr {
  width: 100rem;
  margin-left: 10rem;
}

.aider p {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 18px;
  
}

.base {
  margin-left: 20rem;
  display: flex;
  gap: 25rem;
  padding-top: 4rem;
  line-height: 35px;
}

.bas {
  padding-bottom: 2rem;
  
}

.bas h2 {
  padding-bottom: 2rem;
}

.bases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.bases label {
  padding: 5px;
  font-size: 16px;
}

.bases input {
  width: 25rem;
  border: 1 solid black;
}

.msg {
  margin-left: -27rem;
  padding-top: 1.5rem;
}

.msg textarea {
  display: inline-block;
  width: 52rem;
  height: 5rem;
  padding: 15px;
  padding-bottom: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px solid rgb(0, 149, 255);
  border-radius: 15px;
}

.btns {
  background-color: #600ffe;
  color: white;
  width: 20rem;
  height: 3rem;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.btns:hover {
  background-color: black;
}

/*---------------------- Section 2 ----------------------*/
.tech {
  background-color: white;
    text-align: center;
}

.tech h1 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin-left: auto;
}

.chose {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  gap: 10rem;
}

.inp {
  margin-top: -1rem;
}

.inp input {
  width: 20rem;
  padding: 15px;
  border: 2px solid black;
}

.faq {
  flex-direction: column;
  margin-left: 36rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  line-height: 20px;
}

.gen {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.fqs {
  border: 1px solid rgba(211, 208, 208, 0.899);
  width: 50rem;
  padding: 15px;
  margin-bottom: 1rem;
}

.fqs p {
  padding-bottom: 10px;
}

/* -------------------------- TERME.HTML --------------------------  */
.term {
  background-color: white;
  text-align: center;
}

.term h1 {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.term hr {
  width: 90rem;
  margin-left: 15rem;
}

.client {
  padding-top: 4rem;
  line-height: 25px;
}

.client h2 {
  padding-bottom: 2rem;
}

.client p {
  padding-bottom: 2rem;
}

/* -------------------------- MENTION.HTML --------------------------  */
.mention {
  background-color: white;
  text-align: center;
  line-height: 25px;
}

.mention h1 {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.mention hr {
  width: 90rem;
  margin-left: 10rem;
}

.legal {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* -------------------------- TECH.HTML --------------------------  */
.techs {
  background-color: white;
  padding: 10px 20px;
}

.techs h1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.tec {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 5rem; */
}

.tec select {
  appearance: base-select;
  background-color: white;
  padding: 15px;
  border: 1px solid;
  background-color: white;
  width: 15rem;
}

.fil h2 {
  padding-bottom: 1.5rem;
}

.ima {
  margin-left: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imas {
  border: 1px solid whitesmoke;
}

.ima img:hover {
  transform: scale(1.01) rotate(0.01deg);
}

.mas p {
  padding: 15px;
}